/* Add styles here to customize the appearance of your app */

/*#login {
    display: none;
}*/

body {
    background-color: darkgrey;
}

#email, #password {
    width: 240px;
    padding: 16px;
    margin: 6px 2px;
}

#btn-login{
    background-color: lightgrey;
    border: none;
    padding: 16px 40px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
}
